<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main role="main" class="inner cover">
        <div class="containertext">
        <h1 class="cover-heading">Um bom dia sempre começa com um bom café!</h1>
        <p class="lead">Seja muito bem-vindo(a) a <span>Coffee Break</span>, nossa empresa anseia em servir o seu bom e velho café com a dose completa de disposição e sabor que você precisa.</p>
        </div>
        <p class="lead">
          <a routerLink="/waiting" class="btn btn-lg btn-secondary">Saiba Mais</a>
        </p>
      </main>
</body>
</html>
