header{
background-color: #0f0704;
}
li{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.riscado{
    text-decoration: line-through;
    
}
.imagem{
    align-content: start;
}